<div class="example-container">

    <mat-form-field> <input matInput

      [(ngModel)]="titleModel" placeholder="Title"> </mat-form-field>

    <br>

 

    <mat-form-field> <input matInput

      [(ngModel)]="contentModel" placeholder="Enter your content"> </mat-form-field>

    <br>

  </div>

 

  <br>

 

  <button class="button" mat-raised-button (click)="createQuicknotes()">

    Add Note</button>

 

  <hr>

 

  <p *ngFor="let i of quicknotes">
    <mat-card class="example-card">
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </p>